<div class="detail col-md-7">
    <h3>Расширенный поиск</h3>
    <form class="form-inline" id="categories" name="SearchForm" novalidate ng-submit="submit()">
		<div>
			<label>Наименование закупки</label><br/>
			<input class="form-control" type="text" ng-model="search.purchaseName"/>
		</div>
		<div>
			<label>Заказчик</label><br/>
			<input class="form-control" type="text" ng-model="search.customer"/>
		</div>
		<div>
			<label>Максимальная начальная цена</label><br/>
			<label>от</label>
			<input class="form-control" type="text" ng-model="search.minPrice"/>
			<label>до</label>
			<input class="form-control" type="text" ng-model="search.maxPrice"/>
		</div>
		<div>
			<label>Дата</label><br/>
			<label>с</label>
			<div class="input-group">
              <input ng-model="search.startDate" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dt1"
              	is-open="calendar1.open" datepicker-options="dateOptions" close-text="Закрыть"
               	current-text="Сегодня" clear-text="Очистить" show-weeks="false" ng-required="true"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
			<label>по</label>
			<div class="input-group">
              <input ng-model="search.endDate" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dt2	"
              	is-open="calendar2.open" datepicker-options="dateOptions" close-text="Закрыть"
               	current-text="Сегодня" clear-text="Очистить" show-weeks="false" ng-required="true"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
		</div>
		<div>
			<label>Категория</label><br/>
			<select class="form-control" ng-model="search.category">
				<option value="">Любая</option>
				<option ng-repeat="category in categories" value="{{category.id}}">
					{{category.name}}({{category.purchaseCount}})
				</option>
			</select>
		</div>
		<br/>
    	<input class="btn btn-default" type="submit" value="Поиск" ng-disabled="false"/>
	</form>
    <div ng-show="result">
        <h4>Результат поиска:</h4>
        <div purchases ng-show="totalItems"></div>
        <div ng-hide="totalItems">
            <p>Ничего не найдено</p>
        </div>
    </div>
</div>
