<div class="container">
    <div class="page-header">
        <h1>Users</h1>
    </div>

    <table class="table table-striped" >
        <thead>
        <tr>
            <th data-ng-click="ord='name'">{{nameHeader}}</th>
            <th data-ng-click="ord='email'">{{emailHeader}}</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users | orderBy:ord | startFrom:currentPage*pageSize | limitTo:pageSize ">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
                <a href="#/edit/{{user.id}}" class="btn btn-mini">Edit</a>
                <a data-ng-click="destroy(user.id)" class="btn btn-danger btn-mini">Destroy</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="margin: 0px 36%;">
        <button data-ng-disabled="currentPage == 0" data-ng-click="currentPage=currentPage-1" class="btn">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button data-ng-disabled="currentPage >= users.length/pageSize - 1" data-ng-click="currentPage=currentPage+1" class="btn">
            Next
        </button>
    </div>
    <a href="#/new" class="btn btn-primary">New</a>
</div>