<div id="categories" class="col-md-2 col-sd-2 col-xs-2">
    <form ng-controller="SimpleSearchController" novalidate ng-submit="login()">
        <div class="form-group">
            <label>Авторизация</label>
            <input  class="form-control" type="text" placeholder="Пользователь" ng-model="user.name" required/>
            <input  class="form-control" type="password" placeholder="Пароль" ng-model="user.password" required/>
        </div>
        <input class="btn btn-default" type="submit" value="Войти"/>
        <div><a href="#/registry/">Регистрация</a></div>
    </form>
</div>