<div>
    <table id="purchase_table" class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-1">ID</th>
            <th class="col-md-7">Наименование</th>
            <th class="col-md-2">Начальная цена(руб.)</th>
            <th class="col-md-2">Окончание подачи заявок</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="purchase in purchases">
            <th>{{purchase.id}}</th>
            <th><a href="#/purchase/{{purchase.id}}">{{purchase.name}}</a></th>
            <th>{{purchase.startPrice}}</th>
            <th>{{purchase.submissionCloseDate}}</th>
        </tr>
        </tbody>
    </table>
    <div uib-pagination id="pagination" boundary-links="true" max-size="5" total-items="totalItems" items-per-page="pageSize" ng-model="currentPage"  ng-change="pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></div>
</div>