<div>
    <table id="purchase_table" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start price</th>
            <th>Start date</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="purchase in purchases">
            <th>{{purchase.id}}</th>
            <th><a href="#/purchase/{{purchase.id}}">{{purchase.name}}</a></th>
            <th>{{purchase.startPrice}}</th>
            <th>{{purchase.startDate}}</th>
        </tr>
        </tbody>
    </table>
    <uib-pagination boundary-links="true" max-size="10" total-items="totalItems" rotate="false" items-per-page="pageSize" ng-model="currentPage"  ng-change="pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</div>